/* home_essay_bar.css */
#bbTimeList {
  background: white;
  color: #363636;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0);
  display: flex;
  transition: all 0.3s ease 0s;
  margin: 1rem auto 0;
  border: 1px solid #e3e8f7;
  align-items: center;
  height: 50px;
  width: 100%;
}

[data-theme="dark"] #bbTimeList {
  background: #000 !important;
}

#bbtalk {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -1rem;
}

#bber-talk {
  width: 100%;
  height: 25px;
  line-height: 25px;
}

.icon-tubiaozhizuomoban {
  font-size: 2rem !important;
  line-height: 22px;
  transition: 0.3s;
  cursor: pointer;
}

.icon-tubiaozhizuomoban:hover {
  opacity: 0.8;
  color: blue;
}

#bber-talk .li-style {
  width: 100%;
  max-width: 100%;
  height: 25px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  font-weight: 700;
  margin: auto;
  white-space: nowrap;
}

#bbTimeList:hover {
  border: 1px solid #3b70fc;
  box-shadow: 0 8px 12px -3px #4259ef23;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}












/* essay_page.css */
.layout {
  max-width: 1400px !important;
  padding: 1.5rem 1.5rem;
}

#home_top {
  max-width: 1400px;
  /* margin: auto; */
  margin-top: 0.5rem;
  padding: 0 1.5rem;
}

#page:has(#essay_page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

#page:has(#essay_page) .page-title {
  display: none;
}

#web_bg~.page:has(#essay_page) {
  background: #f7f9fe;
}

#bber .bber-container-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}

#bber .bber-container-img .bber-content-noimg {
  width: calc(100% / 4 - 5px);
}

#bber .bber-content-img img {
  object-fit: cover;
  max-height: 100%;
  border-radius: 12px;
}

#bber .bber-content-img {
  height: 100px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
  width: calc(100% / 4 - 5px);
}

#bber .bber-content .datacont {
  order: 0;
  font-size: 18px;
  font-weight: bold;
  color: #363636;
  width: 100%;
  line-height: 1.38;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#bber p {
  margin: 0px;
}

#bber div.bber-content {
  display: flex;
  flex-flow: wrap;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#bber .timeline ul li.bber-item {
  position: relative;
  width: 32%;
  border: 1px solid #e3e8f7;
  border-radius: 12px;
  padding: 1rem 1rem 0.5rem;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  margin-right: 2%;
}

#bber .timeline #waterfall.show {
  opacity: 1;
}

#bber .timeline #waterfall {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

#bber ul.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#bber {
  margin-top: 1rem;
  width: 100%;
}

#bber>section>ul>li.bber-item {
  margin-bottom: 1rem;
}

#bber-tips {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#bber .timeline ul li.bber-item hr {
  display: flex;
  position: relative;
  margin: 8px 0px;
  border: 1px dashed #4259ef23;
  width: 100%;
}

#bber .bber-info {
  display: flex;
  align-items: center;
}

#bber>section>ul>li>div .bber-info-time,
#bber>section>ul>li>div .bber-info-from {
  color: #363636;
  font-size: 0.7rem;
  background-color: #9999992b;
  padding: 0px 8px;
  border-radius: 20px;
  cursor: default;
  display: flex;
  align-items: center;
}

#bber .bber-info .far.fa-clock {
  margin-right: 4px;
}

#bber>section>ul>li>div .bber-info-from span,
#bber>section>ul>li>div .bber-info-from {
  margin-left: 4px;
}

#bber .bber-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

/* #bber .bber-bottom .bber-reply {
  cursor: url(/img/x2.cur), auto !important;
} */

#bber .timeline ul li.bber-item:hover {
  border: 1px solid #3b70fc;
  ;
}

#bber .bber-content-link {
  display: flex;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  align-items: center;
  background-color: rgba(245, 108, 108, 0.13);
  color: rgb(245, 108, 108);
  padding: 0px 8px;
  border-radius: 20px;
}

#bber .bber-content-link i {
  margin-right: 3px;
}

#bber .bber-content-link:hover {
  background-color: #3b70fc;
  color: #fff;
}

#bber .bber-music {
  width: 100%;
  height: 90px;
  margin: 0.5rem 0;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e3e8f7;
  background: #f1f3f8;
}

#bber .aplayer {
  margin: 0;
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
  height: 82px;
  width: 82px;
  margin: 4px;
  border-radius: 4px;
}

.bber-music .aplayer.aplayer-withlrc .aplayer-info {
  padding: 5px 7px 0;
}

#bber .aplayer .aplayer-info .aplayer-music {
  height: 23px;
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  color: #363636;
}

#bber .aplayer .aplayer-info .aplayer-controller {
  align-items: center;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  padding: 0;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: #999999;
  height: 8px;
  border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  display: none;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}

/* 顶部样式 */
.author-content.author-content-item.essayPage {
  height: 19rem;
  background: url(https://bu.dusays.com/2022/10/16/634bf8a2a654f.png) left 66% / cover no-repeat;
  color: #fff;
  overflow: hidden;
  margin-top: 0px;
}

.author-content-item .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  .author-content-item .card-content {
    padding: 1rem;
  }
}

/* 一行内容 */

.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

/* 一行内容，纵向组件 */

.author-content-item-group.column {
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
}

/* 一行内容，横向组件 */

.author-content-item {
  width: 49%;
  border-radius: 24px;
  background: #fff;
  border: 1px solid #e3e8f7;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.author-content-item.single {
  width: 100%;
}

.author-content-item .author-content-item-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.author-content-item .author-content-item-tips {
  opacity: 0.8;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .author-content-item {
    width: 100% !important;
    margin-top: 1rem;
    padding: 1rem;
  }

  .author-content-item-group.column {
    width: 100% !important;
  }

  .author-content {
    margin-top: 0rem;
  }
}

.card-background-icon {
  font-size: 12rem;
  opacity: 0.2;
  position: absolute;
  right: 0;
  bottom: -40%;
  transform: rotate(30deg);
  transition: 2s ease-in-out;
}

.author-content-item:hover .card-background-icon {
  transform: rotate(20deg);
}

.author-content-item .content-bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-content-item .content-bottom .icon-group {
  display: flex;
}

.author-content-item .content-bottom .icon-group i {
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 0.5rem;
}

.author-content-item .card-content .banner-button-group {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}

.author-content-item .card-content .banner-button-group .banner-button {
  height: 40px;
  width: 124px;
  border-radius: 20px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: .3s;
  cursor: pointer;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.author-content-item .card-content .banner-button-group .banner-button:hover {
  background: #425AEF !important;
  color: #fff;
}

.author-content-item .card-content .banner-button-group .banner-button i {
  margin-right: 8px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .author-content-item .card-content .banner-button-group {
    right: 1rem;
    bottom: 1rem;
  }

  .author-content-item .card-content .banner-button-group .banner-button {
    background: none;
    color: white;
    padding: 0;
    width: fit-content;
  }

  .author-content-item .card-content .banner-button-group .banner-button i {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .author-content-item .card-content .banner-button-group .banner-button-text {
    display: none;
  }
}


#page:has(#essay_page) .author-content-item .card-content .banner-button-group .banner-button:hover {
  color: #fff;
  border-radius: 20px !important;
}

/* 响应式 */
@media screen and (max-width: 1300px) {
  #bber .timeline ul li.bber-item {
    width: 49%;
    margin-right: 1%;
  }
}

@media screen and (max-width: 768px) {
  #bber .timeline ul li.bber-item {
    width: 100%;
    margin-right: 0px;
  }
}

[data-theme="dark"] #bber .bber-music .aplayer,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:before,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:after {
  background: #fff;
  color: #363636;
}

#bber .aplayer .aplayer-lrc p {
  color: #363636;
}