/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 700; */
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 字体 */

body {
  font-family: Roboto !important;
}

.layout {
  max-width: 1400px !important;
  padding: 1.5rem 1.5rem;
}

/* 标签 */
#page h1.page-title {
  margin: 0 auto;
}

/* 返回顶部 */

button#go-up #percent {
  display: none;
  font-weight: bold;
  font-size: 15px !important;
}

button#go-up span {
  font-size: 12px !important;
  margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */
button#go-up:hover i {
  display: block !important;
}

button#go-up:hover #percent {
  display: none !important;
}

/* 推荐 */

.xiaomo {
  left: 22px;
}

.card_box .card_content .right:hover {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background: #006e54;
}




/* 导航 */