#bbTimeList {
  background: white;
  color: #363636;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0);
  display: flex;
  transition: all 0.3s ease 0s;
  margin: 1rem auto 0;
  border: 1px solid #e3e8f7;
  align-items: center;
  height: 50px;
  width: 100%;
}

[data-theme="dark"] #bbTimeList {
  background: #000 !important;
}

#bbtalk {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bber-talk {
  width: 100%;
  height: 25px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.icon-tubiaozhizuomoban {
  /* font-size: 2rem; */
  font-size: 1rem !important;
  line-height: 22px;
  /* margin-right: 1rem; */
  transition: 0.3s;
  cursor: pointer;
}

.icon-tubiaozhizuomoban:hover {
  opacity: 0.8;
  color: blue;
}

/* .bber-logo {
  font-size: 1.5rem;
  line-height: 22px;
  margin-right: 1rem;
  transition: all 0.3s ease 0s;
  
} */

/* .bber-gotobb {
  line-height: 25px;
  margin-left: 1rem;
  transition: all 0.3s ease 0s;
  cursor: url(/img/x2.cur), auto !important;
} */

#bber-talk .li-style {
  width: 100%;
  max-width: 100%;
  height: 25px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  font-weight: 700;
  margin: auto;
  /* cursor: url(/img/x2.cur), auto !important; */
  white-space: nowrap;
}

/* #bbTimeList:hover {
  border: 1px solid #3b70fc;
  box-shadow: 0 8px 12px -3px #4259ef23;
} */

/* 文章页H1-H6图标样式效果 */
/* .bbTimeList .bber-logo {
  -webkit-animation: rotate 1.6s linear infinite;
  animation: rotate 1.6s linear infinite;
} */

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}